@model Eart.Areas.Postagens.Models.Postagem

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title> Criar postagem </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="~/Css/styles.css">
    <link rel="shortcut icon" type="imagex/png" href="~/Imagens/logo_ico.ico">
    <!--<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />-->
</head>
<body>
    <div class="container">
        <div class="box">
            @using (Html.BeginForm("Create", "Postagens", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="logo">
                    <img id="logo_img" alt="Logo" src="~/Imagens/logo.png" />
                    <h1 id="logo_nome">Eart</h1>
                </div>
                <div class="form-horizontal">
                    @Html.HiddenFor(model => model.FotoType)
                    @Html.HiddenFor(model => model.Foto)
                    @Html.HiddenFor(model => model.MembroId)

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Texto, new { htmlAttributes = new { @class = "input", placeholder = "Adicionar legenda..." } })
                            @Html.ValidationMessageFor(model => model.Texto, "", new { @class = "error" })
                        </div>
                    </div>
                    <div class="foto">
                        <div class="form-group">
                            <div class="col-md-10 button">
                                @Html.TextBox("foto", "", new { type = "file" }) <br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-2 col-md-10">
                    <div class="button">
                        <button> Publicar </button>
                    </div>
                    @Html.ActionLink("Cancelar", "Index", "Postagens", new { Area = "Postagens" }, new { @class = "btn btn-warning" })
                </div>
                <br />
                <br />
            }
        </div>
    </div>
</body>
</html>
