@model Eart.Areas.Postagens.Models.Postagem

@{ 
    var membrologado = ViewBag.MembroLogado;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title> Deletar postagem </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="~/Css/styles.css">
    <link rel="stylesheet" href="~/Css/modal.css">
    <link rel="shortcut icon" type="imagex/png" href="~/Imagens/logo_ico.ico">
    <!--<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />-->
</head>
<body style="display: block !important;">
    @Html.HiddenFor(model => model.PostagemId)
    <div style="margin-top: 25%;">
         @if (Model.Membro.FotoPerfil == null)
                        {
                            <div class="imgPerfPostag">
                                <img src="~/Imagens/avatar.png" style="display: block; margin-left: auto; margin-right: auto; width: 45px; height: 45px; border-radius: 50%; border: solid 1px #F0818E;" />
                            </div> }
                        else
                        {
                            <div class="imgPerfPostag">
                                <a>
                                    <img class="img-thumbnail" src="~/Membros/Membros/GetFotoPerfil/@membrologado" style="display: block; margin-left: auto; margin-right: auto; width: 45px; height: 45px; border-radius: 50%; border: solid 1px #F0818E;" />
                                </a>
                            </div>
                        }
                    <div class="dadosPostagem">
                                <span style="font-size: 20px !important;">@Html.ActionLink(Model.Membro.Nome, "Details", "Membros", new { Area = "Membros", id = Model.MembroId }, new { @class = "nomeUsuario" })</span>
                                @*if (item.Membro.Seguindo != true)
                            {
                                @Html.ActionLink(" - Deixar de seguir", "Unfollow", "Comportamentos", new { Area = "Comportamentos", id = item.MembroId }, new { @class = "nomeUsuario" })
                            }
                            else {
                                @Html.ActionLink("Seguir", "Follow", "Comportamentos", new { Area = "Comportamentos", id = item.MembroId }, new { @class = "nomeUsuario" })
                            }*@
                                <span class="dataPostagem" style="font-size: 14px !important;">@Model.Data.ToShortDateString() às @Model.Data.Hour:@Model.Data.Minute</span>
                    </div>
                    <div style="margin-bottom: 10px; max-width: 300px; font-size: 18px;">@Model.Texto</div>
                    @if (Model.Foto != null)
                    {
                        <div class="midiaPost">
                            <a>
                               <img class="imgPost" src="@Url.Action("GetFoto", "Postagens", new { id = Model.PostagemId })" />
                            </a>
                        </div>
                    }
                   
                </div>
        <div style="margin-top: 20px;">
            <a href="#" class="editar-perfil" data-toggle="modal" data-target="#deleteConfirmationModal"> Deletar postagem </a>
            @Html.ActionLink("Cancelar", "FeedMembrosSeguidos", "Postagens", new { Area = "Postagens" }, new { @class = "btn btn-warning" })
        </div>
    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-hidden="true" style="color:black">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Confirmação de exclusão da POSTAGEM
                    </h4>
                </div>
                <div class="modal-body">
                    <p>
                        Você está prestes a deletar essa postagem.
                    </p>
                    <p>
                        <strong>
                            Você está certo que deseja prosseguir?
                        </strong>
                    </p>
                    @using (Html.BeginForm("Delete", "Postagens", FormMethod.Post, new { @id = "delete-form", role = "form" }))
                    {
                        @Html.HiddenFor(model => model.PostagemId)
                        @Html.AntiForgeryToken()
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="$('#delete-form').submit();">
                        Sim, exclua esta postagem.
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        Não, não exclua esta postagem.
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/scripts/jquery-3.4.1.js")"></script>
    <script src="@Url.Content("~/scripts/bootstrap.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
</body>
</html>
