@model IEnumerable<Eart.Areas.Postagens.Models.Postagem>

@{
    var membrologado = ViewBag.MembroLogado;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var membrofoto = ViewBag.MembroFoto;
}

<!DOCTYPE html>
<html>
<head>
    <title> Feed Membros Seguidos </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="~/Css/styles.css">
    <link rel="stylesheet" href="~/Css/modal.css" defer>
    <link rel="shortcut icon" type="imagex/png" href="~/Imagens/logo_ico.ico">
    <!--<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />-->
</head>
<body class="bodyPostagens">
    <script src="@Url.Content("~/scripts/jquery-3.4.1.js")"></script>
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="true" style="color:black">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Mensagem de confirmação
                    </h4>
                </div>
                <div class="modal-body">
                    @TempData["Message"]
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        Ok
                    </button>
                </div>
            </div>
        </div>
    </div>
    @if (@TempData["Message"] != null)
    {
        <script src="@Url.Content("~/scripts/jquery-3.4.1.js")"></script>
        <script>
            $(document).ready(function () {
                $('#Modal').modal('show');
            });
        </script>
    }
    <div>
        <div>
            <div class="topBar">
                <div class="logoArea">
                    <img id="logoMenor" alt="Logo" src="~/Imagens/logo.png" />
                    <h1 id="nomeMenor">Eart</h1>
                </div>
            </div>
            <br />
            <div id="criarPubl">
                @Html.ActionLink("Criar Publicação", "Create", "Postagens", new { area = "Postagens", id = ViewBag.MembroId }, new { @id = "botao-criar" })
            </div>
            <br />
            @foreach (var item in Model)
            {
                <div class="postagem">
                    <hr />
                    <br />
                    <div>
                        <div class="usuario">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                            @if (item.Membro.FotoPerfil == null)
                            {
                                <div class="imgPerfPostag">
                                    <img src="~/Imagens/avatar.png" style="display: block; margin-left: auto; margin-right: auto; width: 45px; height: 45px; border-radius: 50%; border: solid 1px #F0818E;" />
                                </div> }
                            else
                            {
                                <div class="imgPerfPostag">
                                    <a>
                                        <img class="img-thumbnail" src="~/Membros/Membros/GetFotoPerfil/@item.Membro.MembroId" style="display: block; margin-left: auto; margin-right: auto; width: 45px; height: 45px; border-radius: 50%; border: solid 1px #F0818E;" />
                                    </a>
                                </div>
                            }
                            <details class="configPost">
                                <summary style="list-style: none;"> <span class="iconify" data-icon="simple-line-icons:options" style="color: #f0818e; font-size: 30px;"></span> </summary>
                                <ol style="list-style: none;">
                                    <li> @Html.ActionLink("Ver publicação", "Details", "Postagens", new { area = "Postagens", id = item.PostagemId }, null) </li>
                                    @if (item.MembroId == membrologado)
                                    {
                                        <li> @Html.ActionLink("Editar publicação", "Edit", "Postagens", new { area = "Postagens", id = item.PostagemId }, null)</li>
                                        <li> @Html.ActionLink("Excluir publicação", "Delete", "Postagens", new { area = "Postagens", id = item.PostagemId }, null)</li>
                                    }
                                </ol>
                            </details>
                            <div class="dadosPostagem">
                                <span>@Html.ActionLink(item.Membro.Nome, "Details", "Membros", new { Area = "Membros", id = item.MembroId }, new { @class = "nomeUsuario" })</span>
                                @*if (item.Membro.Seguindo != true)
                            {
                                @Html.ActionLink(" - Deixar de seguir", "Unfollow", "Comportamentos", new { Area = "Comportamentos", id = item.MembroId }, new { @class = "nomeUsuario" })
                            }
                            else {
                                @Html.ActionLink("Seguir", "Follow", "Comportamentos", new { Area = "Comportamentos", id = item.MembroId }, new { @class = "nomeUsuario" })
                            }*@
                                <span class="dataPostagem">@item.Data.ToShortDateString() às @item.Data.Hour:@item.Data.Minute</span>
                            </div>
                            <br />
                            <div style="margin-bottom: 10px; max-width: 300px;">@item.Texto</div>
                        </div>
                    </div>

                    @if (item.Foto != null)
                    {
                        <div class="midiaPost">
                            <a>
                                <img class="imgPost" src="@Url.Action("GetFoto", "Postagens", new { id = item.PostagemId })" />
                            </a>
                        </div>
                    }
                    @if (item.Curtida != true)
                    {
                        <a href="@Url.Action("Curtir", "Curtidas", new { area = "Comportamentos", id = item.PostagemId })">
                            <div class="iconBox" style="margin-left: 10%;">
                                <span class="iconify" data-icon="ant-design:heart-outlined" style="color: white; font-size: 30px; margin-left: 23px;"></span>
                                @item.Cont_Curtidas
                            </div>
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("Descurtir", "Curtidas", new { area = "Comportamentos", id = item.PostagemId })">
                            <div class="iconBox" style="margin-left: 10%;">
                                <span class="iconify" data-icon="ant-design:heart-filled" style="color: #f0818e; font-size: 30px; margin-left: 23px;"></span>
                                @item.Cont_Curtidas
                            </div>
                        </a>
                    } 
                    <a href="@Url.Action("Index", "Comentarios", new { area = "Comportamentos", idPostagem = item.PostagemId, idIndex = 1 })">
                        <div style="display: flex; float: right; margin-right: 10%;">
                            <div class="iconBox">
                                <span class="iconify" data-icon="akar-icons:comment" style="color: white; font-size: 25px; margin-top: 3px; margin-left: 25px;"></span>
                                <span class="contadores">@item.Cont_Comentarios</span>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
    <br /><br /><br />
    <script src="@Url.Content("~/Scripts/popper.min.js")"></script>
    <script src="@Url.Content("~/scripts/bootstrap.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>

</body>
</html>