@model IEnumerable<Eart.Areas.Postagens.Models.Postagem>

@{ 
    var membrologado = ViewBag.MembroLogado; 
 }

<!DOCTYPE html>
<html>
<head>
    <title> Feed </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="~/Css/styles.css">
    <link rel="shortcut icon" type="imagex/png" href="~/Imagens/logo_ico.ico">
    <!--<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />-->
</head>
<body class="bodyPostagens">
    @if (@TempData["Message"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["Message"]
        </div>
        <br /><br /><br />
    }
    <div>
        <div>
            <br />
            <div id="criarPubl">
                @Html.ActionLink("Criar Publicação", "Create", "Postagens", new { area = "Postagens", id = ViewBag.MembroId }, new { @id = "botao-criar" })
            </div>
            <br />
            @foreach (var item in Model)
             {
                <div class="postagem">
                    <hr />
                    <br />
                    <div>
                        <div class="usuario">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                            @if (item.Membro.FotoPerfil == null)
                            {
                <div class="imgPerfPostag">
                    <img src="~/Imagens/avatar.png" style="display: block; margin-left: auto; margin-right: auto; width: 45px; height: 45px; border-radius: 50%; border: solid 1px #F0818E;" />
                </div> }
                else
                {
                <div class="imgPerfPostag">
                    <a>
                        <img class="img-thumbnail" src="~/Membros/Membros/GetFotoPerfil/@item.Membro.MembroId" style="display: block; margin-left: auto; margin-right: auto; width: 45px; height: 45px; border-radius: 50%; border: solid 1px #F0818E;" />
                    </a>
                </div>}
                            <details class="configPost">
                                <summary> Configurações </summary>
                                <ol>
                                    <li> @Html.ActionLink("Ver publicação", "Details", "Postagens", new { area = "Postagens", id = item.PostagemId }, null) </li>
                                    <li> @Html.ActionLink("Editar publicação", "Edit", "Postagens", new { area = "Postagens", id = item.PostagemId }, null)</li>
                                    <li> @Html.ActionLink("Excluir publicação", "Delete", "Postagens", new { area = "Postagens", id = item.PostagemId }, null)</li>
                                    <li>@Html.ActionLink("Fazer download", "DownloadFoto", "Postagens", new { area = "Postagens", id = item.PostagemId }, null)</li>
                                </ol>
                            </details>
                            <div class="dadosPostagem">
                                <span>@Html.ActionLink(item.Membro.Nome, "Details", "Membros", new { Area = "Membros", id = item.MembroId }, new { @class = "nomeUsuario" })</span>
                                <span class="dataPostagem">@item.Data.ToShortDateString() às @item.Data.Hour:@item.Data.Minute</span>
                            </div>

                            <div style="margin-bottom: 10px;">@item.Texto</div>
                        </div>
                    </div>

                    @if (item.Foto != null)
                    {
                <div class="midiaPost">
                    <a>
                        <img class="imgPost" src="@Url.Action("GetFoto", "Postagens", new { id = item.PostagemId })"/>
                    </a>
                </div>
                }
                    <br />
                    @Html.ActionLink("Comentários", "Index", "Comentarios", new { area = "Comportamentos", id = item.PostagemId }, new { @class = "cancelar" })
                    @item.Cont_Comentarios
                    @if (item.Curtida != true)
                    {
                        @Html.ActionLink("Curtir", "Curtir", "Curtidas", new { area = "Comportamentos", id = item.PostagemId }, new { @class = "cancelar" }) 
                    }
                    else
                        {
                            @Html.ActionLink("Descurtir", "Descurtir", "Curtidas", new { area = "Comportamentos", id = item.PostagemId }, new { @class = "editar-perfil" })
                    }
                    @item.Cont_Curtidas
                    <br />
                    </div>
                    <br />
                    <br />            
                }
        </div>
    </div>
</body>
</html>