@model IEnumerable<Eart.Areas.Postagens.Models.Postagem>

@{
    var membrologado = ViewBag.MembroLogado;
}

<div class="panel-body">
    @foreach (var item in Model)
    {
        if (item.MembroId == membrologado)
        {
        <div class="postagem">
            <div class="conf">
                <details>
                    <summary> Configurações </summary>
                    <ol>
                        <li> @Html.ActionLink("Ver publicação", "Details", "Postagens", new { area = "Postagens", id = item.PostagemId }, null) </li>
                        <li> @Html.ActionLink("Editar publicação", "Edit", "Postagens", new { area = "Postagens", id = item.PostagemId }, null)</li>
                        <li> @Html.ActionLink("Excluir publicação", "Delete", "Postagens", new { area = "Postagens", id = item.PostagemId }, null)</li>
                    </ol>
                </details>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>

                    @if (item.Membro.FotoPerfil is null)
                    {
                        <img class="img-thumbnail" src="~/Imagens/avatar.png" style="display:block;margin-left:auto; margin-right:auto; width:100px; height:100px; border-radius:75px" />
                    }
                    else
                    {
                        <img class="img-thumbnail" src="@Url.Action("GetFotoPerfil", "Membros", new { area = "Membros", id = item.MembroId })" style="display: block; margin-left: auto; margin-right: auto; width: 100px; height: 100px; border-radius: 75px" />
                    }
                    @Html.EditorFor(modelItem => item.Membro.Nome, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    @Html.ActionLink(" - Ver perfil", "Details", "Membros", new { Area = "Membros", id = item.MembroId }, null);
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    @Html.EditorFor(modelItem => item.Data, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
            </div>

            @if (item.Texto != null)
            {
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        @Html.EditorFor(modelItem => item.Texto, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    </div>
                </div>
            }

            @if (item.Foto != null)
            {
                <div class="foto">
                    <div class="panel-body">
                        <a>
                            @Html.ActionLink("Baixar o arquivo: " + item.FotoNome, "DownloadFoto", "Postagens", new { area = "Postagens", id = item.PostagemId }, null)
                            <img class="img-thumbnail" src="@Url.Action("GetFoto", "Postagens", new { id = item.PostagemId })" style="display: block; margin-left: auto; margin-right: auto; width: 300px; height: 200px;" />
                        </a>
                    </div>

                </div>
            }
            <br />
            @Html.ActionLink("Comentários", "Index", "Comentarios", new { area = "Comportamentos", id = item.PostagemId }, new { @class = "cancelar" })
            @if (item.Curtida != true)
            {
                @Html.ActionLink("Curtir", "Curtir", "Curtidas", new { area = "Comportamentos", id = item.PostagemId }, new { @class = "cancelar" })
            }
            else
            {
                @Html.ActionLink("Descurtir", "Descurtir", "Curtidas", new { area = "Comportamentos", id = item.PostagemId }, new { @class = "editar-perfil" })
            }
        </div>
        <br />
        <br />
        }
    }
</div>