@model IEnumerable<Eart.Areas.Postagens.Models.Postagem>

@{
    var membrologado = ViewBag.MembroLogado;
}

<div class="panel-body">
    @foreach (var item in Model)
    {
        if (item.MembroId == membrologado)
        {
        <div class="postagem">
                    <hr />
                    <br />
                    <div>
                        <div class="usuario">
                            @if (item.Membro.FotoPerfil == null)
                            {
                                <div class="imgPerfPostag">
                                    <img src="~/Imagens/avatar.png" style="display: block; margin-left: auto; margin-right: auto; width: 45px; height: 45px; border-radius: 50%; border: solid 1px #F0818E;" />
                                </div> }
                            else
                            {
                                <div class="imgPerfPostag">
                                    <a>
                                        <img class="img-thumbnail" src="~/Membros/Membros/GetFotoPerfil/@item.Membro.MembroId" style="display: block; margin-left: auto; margin-right: auto; width: 45px; height: 45px; border-radius: 50%; border: solid 1px #F0818E;" />
                                    </a>
                                </div>
                            }
                            <details class="configPost">
                                <summary style="list-style: none;"> <span class="iconify" data-icon="simple-line-icons:options" style="color: #f0818e; font-size: 30px;"></span> </summary>
                                <ol style="list-style: none;">
                                    <li> @Html.ActionLink("Ver publicação", "Details", "Postagens", new { area = "Postagens", id = item.PostagemId }, null) </li>
                                    @if (item.MembroId == membrologado)
                                    {
                                        <li> @Html.ActionLink("Editar publicação", "Edit", "Postagens", new { area = "Postagens", id = item.PostagemId }, null)</li>
                                        <li> @Html.ActionLink("Excluir publicação", "Delete", "Postagens", new { area = "Postagens", id = item.PostagemId }, null)</li>
                                    }
                                    @if (item.Foto != null)
                                    {
                                        <li> @Html.ActionLink("Fazer download do arquivo", "DownloadFoto", "Postagens", new { area = "Postagens", id = item.PostagemId }, null)</li>
                                    }
                                </ol>
                            </details>
                            <div class="dadosPostagem">
                                <span>@Html.ActionLink(item.Membro.Nome, "Details", "Membros", new { Area = "Membros", id = item.MembroId }, new { @class = "nomeUsuario" })</span>
                                @*if (item.Membro.Seguindo != true)
                            {
                                @Html.ActionLink(" - Deixar de seguir", "Unfollow", "Comportamentos", new { Area = "Comportamentos", id = item.MembroId }, new { @class = "nomeUsuario" })
                            }
                            else {
                                @Html.ActionLink("Seguir", "Follow", "Comportamentos", new { Area = "Comportamentos", id = item.MembroId }, new { @class = "nomeUsuario" })
                            }*@
                                <span class="dataPostagem">@item.Data.ToShortDateString() às @item.Data.Hour:@item.Data.Minute</span>
                            </div>
                            <br />
                            <div style="margin-bottom: 10px; max-width: 300px;">@item.Texto</div>
                        </div>
                    </div>

                    @if (item.Foto != null)
                    {
                        <div class="midiaPost">
                            <a>
                                <img class="imgPost" src="@Url.Action("GetFoto", "Postagens", new { id = item.PostagemId })" />
                            </a>
                        </div>
                    }
                </div>
        <br />
        }
    }
</div>