@model Eart.Areas.Membros.Models.Membro
<!DOCTYPE html>
<html>
<head>
    <title> Deletar usuário </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
    @*<link rel="stylesheet" href="~/Css/editarPerfil.css">*@
    @*<link rel="stylesheet" href="~/Css/styles.css">*@
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link rel="shortcut icon" type="imagex/png" href="~/Imagens/logo_ico.ico">
</head>
<body>
    <div class="panel panel-primary">
        <div class="panel-heading">
            Dados do usuário a ser removido
        </div>
        <div class="panel-body">
            <div class="fotoPerfil">
                @if (Model.FotoPerfil == null)
                {
                    <img class="img-thumbnail" src="~/Imagens/avatar.png" style="display:block;margin-left:auto; margin-right:auto; width:100px; height:100px; border-radius:75px" />
                }
                else
                {
                    <div class="panel-body">
                        <img class="img-thumbnail" src="@Url.Action("GetFotoPerfil", "Membros", new { area = "Membros", id = Model.MembroId })" style="display: block; margin-left: auto; margin-right: auto; width: 100px; height: 100px; border-radius:75px;" />
                    </div>
                }
            </div>
            <div class="fotoCapa">
                @if (Model.FotoCapa == null)
                {
                    <img class="img-thumbnail" src="~/Imagens/capa.png" style="display: block; margin-left: auto; margin-right: auto; width: 300px; height: 200px;" />
                }
                else
                {
                    <div class="panel-body">
                        <img class="img-thumbnail" src="@Url.Action("GetFotoCapa", "Membros", new { area = "Membros", id = Model.MembroId })" style="display: block; margin-left: auto; margin-right: auto; width: 300px; height: 200px;" />
                    </div>
                }
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Nome)<br />
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Usuario)<br />
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Biografia)<br />
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    @Html.EditorFor(model => model.Biografia, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
            </div>

        </div>
        <div class="panel-footer panel-info">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Remover" class="btn btn-danger" />
                @Html.ActionLink("Cancelar", "Details", "Membros", new { area = "Membros", id = Model.MembroId }, new { @class = "btn btn-warning" })
            }
        </div>
        @*<div class="panel-footer panel-info">
            <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmationModal">Remover Usuário</a>
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-warning" })
        </div>*@
    </div>
    @*<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        Confirmação de exclusão de USUÁRIO
                    </h4>
                </div>
                <div class="modal-body">
                    <p>
                        Você está prestes a remover o usuário @Model.Nome.ToUpper() do cadastro.
                    </p>
                    <p>
                        <strong>
                            Você está certo que deseja prosseguir?
                        </strong>
                    </p>
                    @using (Html.BeginForm("Delete", "Membros", FormMethod.Post, new { @id = "delete-form", role = "form" }))
                    {
                        @Html.HiddenFor(m => m.MembroId)
                        @Html.AntiForgeryToken()
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="$('#delete-form').submit();">
                        Sim, exclua este membro.
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        Não, não exclua este membro.
                    </button>
                </div>
            </div>
        </div>
    </div>*@
</body>
</html>
