@model Eart.Areas.Membros.Models.Membro

<!DOCTYPE html >
<html>
<head>
    <title> Perfil do usuário </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
    @*<link rel="stylesheet" href="~/Css/editarPerfil.css">*@
    @*<link rel="stylesheet" href="~/Css/styles.css">*@
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link rel="shortcut icon" type="imagex/png" href="~/Imagens/logo_ico.ico">
</head>
<body>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="logo">
                <img alt="Logo" src="~/Imagens/logo.png" heigth="50" width="50" />
                <h1 class="logo"> Eart </h1>
            </div>
            Perfil do Usuário: @Model.Nome
        </div>
        @Html.ActionLink("- Sair", "Logout", "Account", new { area = "Membros" }, null)
        
        <div class="panel-body">
            @Html.ActionLink("Criar Postagem", "Create", "Postagens", new { area = "Postagens", id = Model.MembroId }, new { @class = "cancelar" })
            <div class="conf">
                <details>
                    <summary> Configurações </summary>
                    <ol>
                        <li> @Html.ActionLink("Editar perfil", "Edit", "Membros", new { area = "Membros", id = Model.MembroId }, null)</li>
                        <li> @Html.ActionLink("Excluir perfil", "Delete", "Membros", new { area = "Membros", id = Model.MembroId }, null)</li>
                    </ol>
                </details>
            </div>
            <div class="fotoPerfil">
                @if (Model.FotoPerfil == null)
                {
                    <img class="img-thumbnail" src="~/Imagens/avatar.png" style="display:block;margin-left:auto; margin-right:auto; width:100px; height:100px; border-radius:75px" />
                }
                else
                {
                    <div class="panel-body">
                        <a>
                            @Html.ActionLink("Baixar o arquivo: " + Model.FotoPerfilNome, "DownloadFotoPerfil", "Membros", new { area = "Membros", id = Model.MembroId }, null)
                            <img class="img-thumbnail" src="@Url.Action("GetFotoPerfil", "Membros", new { id = Model.MembroId })" style="display: block; margin-left: auto; margin-right: auto; width: 300px; height: 200px;" />
                        </a>
                    </div>
                }
            </div>
            <div class="fotoCapa">
                @if (Model.FotoCapa == null)
                {
                    <img class="img-thumbnail" src="~/Imagens/capa.png" style="display: block; margin-left: auto; margin-right: auto; width: 300px; height: 200px;" />
                }
                else
                {
                    <div class="panel-body">
                        <a>
                            @Html.ActionLink("Baixar o arquivo: " + Model.FotoCapaNome, "DownloadFotoCapa", "Membros", new { area = "Membros", id = Model.MembroId }, null)
                            <img class="img-thumbnail" src="@Url.Action("GetFotoCapa", "Membros", new { id = Model.MembroId })" style="display: block; margin-left: auto; margin-right: auto; width: 300px; height: 200px;" />
                        </a>
                    </div>
                }
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Nome)<br />
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Usuario)<br />
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Biografia)<br />
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    @Html.EditorFor(model => model.Biografia, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
            </div>
            <br /><br />
        </div>
    </div>
</body>
</html>
