@model Eart.Areas.Membros.Models.Membro

@{
    var membrologado = ViewBag.MembroLogado;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Perfil";
}

<!DOCTYPE html>
<html>
<head>
    <title> Perfil do usuário </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="~/Css/styles.css">
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link rel="shortcut icon" type="imagex/png" href="~/Imagens/logo_ico.ico">
</head>
<body class="details_body">
    @{
        string arroba = "@";
        var capa_img = "";
        var id = new { id = Model.MembroId };
        if (Model.FotoCapa == null)
        {
            capa_img = @Url.Content("~/Imagens/capa.png");
        }
        else
        {
            capa_img = @Url.Action("GetFotoCapa", "Membros", id);
        }
    }

<<<<<<< HEAD
    <div style="width: 100%;">
=======
    <div class="panel panel-primary" style="width: 100%;">
>>>>>>> main
        <div class="panel-heading" style="background: url(@capa_img) !important; background-size: cover !important;">
            <div class="fotoPerfil">
                @if (Model.FotoPerfil == null)
                {
                    <span class="img-perfil">
                        <img src="~/Imagens/avatar.png" style="display: block; margin-left: auto; margin-right: auto; width: 90px; height: 90px; border-radius: 50%; border: solid 3px #F0818E;" />
                    </span> }
                else
                {
                    <div class="panel-body">
                        <a>
                            <img class="img-thumbnail" src="@Url.Action("GetFotoPerfil", "Membros", new { id = Model.MembroId })" style="display: block; margin-left: auto; margin-right: auto; width: 90px; height: 90px; border-radius: 50%; border: solid 3px #F0818E;" />
                        </a>
                    </div>}
            </div>
        </div>
        <div class="panel-body" style="text-align: center; background-color: #1E2333;">
            <br /> <br /> <br />
            <div class="dados">
                <span style="font-size: 20px; margin-top: 200px;">@Model.Nome</span>
                <br />
                <span> @arroba@Model.Usuario </span>
                <br />
                <div class="bio">
                    <span style="font-size: 14px; width: 20px;">@Html.Raw(Model.Biografia)</span>
                </div>
                <br />
                @if (Model.MembroId == membrologado)
                {
<<<<<<< HEAD
                    <div class="conf" style="position: fixed !important; float: right !important; color: #F0818E !important;">
                        <details>
                            <summary> <span class="iconify" data-icon="simple-line-icons:options" style="color: #f0818e; font-size: 30px;"></span> </summary>
                            <ul style="text-decoration: none !important;">
                                <li style="text-decoration:none !important;"> @Html.ActionLink("Sair", "Logout", "Account", new { area = "Membros" }, null) </li>
                                <li> @Html.ActionLink("Editar perfil", "Edit", "Membros", new { area = "Membros", id = Model.MembroId }, null)</li>
                                <li> @Html.ActionLink("Excluir perfil", "Delete", "Membros", new { area = "Membros", id = Model.MembroId }, null)</li>
                            </ul>
                        </details>
                    </div>
                    @Html.ActionLink("Criar Postagem", "Create", "Postagens", new { area = "Postagens" }, new { @class = "editar-perfil" })
=======
                    <div class="conf">
                        <details>
                            <summary> <span class="iconify" data-icon="simple-line-icons:options" style="color: #f0818e; font-size: 30px;"></span> </summary>
                            <ol style="color:white">
                                <li> @Html.ActionLink("Excluir perfil", "Delete", "Membros", new { area = "Membros", id = Model.MembroId }, null)</li>
                                <li> @Html.ActionLink("- Sair", "Logout", "Account", new { area = "Membros" }, null) </li>
                                <li>@Html.ActionLink("Editar perfil", "Edit", "Membros", new { area = "Membros", id = Model.MembroId }, null)</li>
                            </ol>
                        </details>
                    </div>
                    @Html.ActionLink("Criar Postagem", "Create", "Postagens", new { area = "Postagens" }, new { @class = "editar-perfil" })
                    <br />
                    <br />
>>>>>>> main
                }
                else
                {
                    if (Model.Seguindo == true)
                    {
<<<<<<< HEAD
                        @Html.ActionLink("Deixar de seguir", "Unfollow", "Seguindo", new { area = "Comportamentos", id = Model.MembroId }, new { @class = "editar-perfil" })
                    }
                    else
                    {
                        @Html.ActionLink("Seguir", "Follow", "Seguindo", new { area = "Comportamentos", id = Model.MembroId }, new { @class = "editar-perfil" })
                    }
                }
                <br /><br />
=======
                        @Html.ActionLink("Seguir", "Follow", "Seguindo", new { area = "Comportamentos", id = Model.MembroId }, new { @class = "editar-perfil" })
                    }
                    else
                    {
                        @Html.ActionLink("Deixar de seguir", "Unfollow", "Seguindo", new { area = "Comportamentos", id = Model.MembroId }, new { @class = "editar-perfil" })
                    }
                }
>>>>>>> main
                <div class="cont-posts">
                    <span> @Model.Cont_Posts </span>
                    <span> Posts </span>
                </div>
                <div class="cont-seguidores">
                    <span> @Model.Cont_Seguidores </span>
                    <span> Seguidores </span>
                </div>
                <div class="cont-seguindo">
                    <span> @Model.Cont_Seguindo </span>
                    <span> Seguindo </span>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
</body>
</html>