@model Eart.Areas.Membros.Models.Membro

@{
    var membrologado = ViewBag.MembroLogado;
}

<!DOCTYPE html>
<html>
<head>
    <title> Perfil do usuário </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="~/Css/styles.css">
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link rel="shortcut icon" type="imagex/png" href="~/Imagens/logo_ico.ico">
</head>
<body class="details_body">
    @{ string arroba = "@";
        var capa_img = "";
        var id = new { id = Model.MembroId };
        if (Model.FotoCapa == null)
        {
            capa_img = @Url.Content("~/Imagens/capa.png");
        }
        else
        {
            capa_img = @Url.Action("GetFotoCapa", "Membros", id);
        } }

    <div class="panel panel-primary">
        <div class="panel-heading" style="background: url(@capa_img) !important; background-size: cover !important;">
            <div class="fotoPerfil">
                @if (Model.FotoPerfil == null)
                {
    <span class="img-perfil">
        <img src="~/Imagens/avatar.png" style="display: block; margin-left: auto; margin-right: auto; width: 90px; height: 90px; border-radius: 50%; border: solid 3px #F0818E;" />
    </span> }
                else
                {
    <div class="panel-body">
        <a>
            <img class="img-thumbnail" src="@Url.Action("GetFotoPerfil", "Membros", new { id = Model.MembroId })" style="display: block; margin-left: auto; margin-right: auto; width: 90px; height: 90px; border-radius: 50%; border: solid 3px #F0818E;" />
        </a>
    </div>}
                <div class="conf">
                    <details>
                        <summary> Configurações </summary>
                        <ol style="color:white">
                            <li> @Html.ActionLink("Excluir perfil", "Delete", "Membros", new { area = "Membros", id = Model.MembroId }, null)</li>
                            <li> @Html.ActionLink("- Sair", "Logout", "Account", new { area = "Membros" }, null) </li>
                        </ol>
                    </details>
                </div>
            </div>
        </div>
        <div class="panel-body" style="text-align: center; background-color: #1E2333;">
            <br /> <br /> <br />
            <div class="dados">
                <span style="font-size: 20px; margin-top: 200px;">@Model.Nome</span>
                <br />
                <span> @arroba@Model.Usuario </span>
                <br />
                <div class="bio">
                    <span style="font-size: 14px; width: 20px;">@Model.Biografia</span>
                </div>
                <br />
                @if (Model.MembroId == membrologado) { 
                    @Html.ActionLink("- Sair", "Logout", "Account", new { area = "Membros" }, new { @class = "editar-perfil" })
                    <br />
                    <br />
                }
                @Html.ActionLink("Excluir perfil", "Delete", "Membros", new { area = "Membros", id = Model.MembroId }, new { @class = "editar-perfil" })
                <br />
                <br />
                @Html.ActionLink("Editar perfil", "Edit", "Membros", new { area = "Membros", id = Model.MembroId }, new { @class = "editar-perfil" })
                <br />
                <br />
                @Html.ActionLink("Criar Postagem", "Create", "Postagens", new { area = "Postagens" }, new { @class = "editar-perfil" })
                <br />
                <br />
                @Html.ActionLink("Feed", "Index", "Postagens", new { area = "Postagens" }, new { @class = "editar-perfil" })
                <br />
                <br />
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Nome)<br />
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Usuario)<br />
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Biografia)<br />
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    @Html.EditorFor(model => model.Biografia, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
            </div>
            <br /><br />
        </div>
    </div>
</body>
</html>
