@model IEnumerable<Eart.Areas.Membros.Models.Membro>

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title> Index </title>
    <link rel="stylesheet" href="~/Css/styles.css">
    <meta charset="utf-8">
</head>
<body>
    @if (@TempData["Message"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["Message"]
        </div>
    }
    <table border="1">
        <tr>
            <th> Id </th>
            <th> Nome </th>
            <th> Usuário </th>
            <th> Email </th>
            <th> Biografia </th>
            <th> Senha </th>
            <th> Confirmação da senha </th>
            <th> Ações </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td> @item.MembroId  </td>
                <td> @item.Nome </td>
                <td> @item.Usuario </td>
                <td> @item.Email </td>
                <td> @item.Biografia </td>
                <td> @item.Senha </td>
                <td> @item.ConfSenha </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", "Membros", new { area = "Membros", id = item.MembroId }, null) |
                    @Html.ActionLink("Detalhes", "Details", "Membros", new { area = "Membros", id = item.MembroId }, null) |
                    @Html.ActionLink("Excluir", "Delete", "Membros", new { area = "Membros", id = item.MembroId }, null)
                </td>
            </tr>
        }
    </table>
    <br /><br />
    @Html.ActionLink("Cadastro", "Create", "Membros", new { area = "Membros"}, null)
    <br /><br />
    @Html.ActionLink("Sair", "Logout", "Account", new { area = "Membros" }, null)
</body>
</html>