@model Eart.Areas.Membros.Models.LoginViewModel

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title> Login </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="~/Css/styles.css">
    <link rel="shortcut icon" type="imagex/png" href="~/Imagens/logo_ico.ico">
    <!--<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />-->
</head>
<body>
    <div class="container">
        <div class="box">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="logo">
                    <img id="logo_img" alt="Logo" src="~/Imagens/logo.png" />
                    <h1 id="logo_nome">Eart</h1>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control input", placeholder = "Usuário" } })
                            @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "input form-control", placeholder = "Senha" } })
                            @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-2 col-md-10">
                    <div class="button">
                        <button> Fazer login </button>
                    </div>
                    <div class="login">
                        <p> Não tem uma conta? @Html.ActionLink("Cadastre-se!", "Create", "Membros", new { area = "Membros" }, null)</p>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>

@*@model Eart.Areas.Membros.Models.LoginViewModel

    <!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <title> Login </title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="~/Css/styles.css">
        <link rel="shortcut icon" type="imagex/png" href="~/Imagens/logo_ico.ico">
        <!--<link href="Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />-->
    </head>
    <body>
        <div class="container">
            <div class="box">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="logo">
                        <img id="logo_img" alt="Logo" src="~/Imagens/logo.png" />
                        <h1 id="logo_nome">Eart</h1>
                    </div>
                    <div class="form-horizontal">
                        @if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Count() > 0))
                        {
                            <div class="alert alert-danger alert-dismissable">
                                @Html.ValidationSummary(false, "Verifique os seguintes erros:", new { @class = "error" })
                            </div>
                        }
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "input", placeholder = "Usuário" } })
                                @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "error" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "input", placeholder = "Senha" } })
                                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "error" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <div class="button">
                            <button> Fazer login </button>
                        </div>
                        <div class="create">
                            <p> Não tem uma conta? @Html.ActionLink("Cadastre-se!", "Create", "Membros")</p>
                        </div>
                    </div>
                    <br />
                    <br />
                }
            </div>
        </div>
    </body>
    </html>*@


