<!DOCTYPE html>
@{ var pageName = ViewContext.RouteData.Values["action"].ToString();
   var pageName2 = ViewContext.RouteData.Values["controller"].ToString();
   var membrologado = ViewBag.MembroLogado;
 }
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="~/Css/styles.css">
</head>
<body>
    <footer>
        <nav>
            <ul>
                <li>
                    <a href="@Url.Action("FeedPorRelevancia", "Postagens", new { area = "Postagens" })">
                        @if (pageName != "FeedPorRelevancia")
                        {
                            <span class="iconify" data-icon="ant-design:fire-outlined" style="color: white; font-size: 30px; position: absolute; left: 5%;"></span> }
                        else
                        {
                            <span class="iconify" data-icon="ant-design:fire-filled" style="color: white; font-size: 30px; position: absolute; left: 5%;"></span>
                        }
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("FeedMembrosSeguidos", "Postagens", new { area = "Postagens" })">
                        @if (pageName != "FeedMembrosSeguidos")
                        {
                            <span class="iconify" data-icon="ant-design:home-outlined" style="color: white; font-size: 30px; position: absolute; left: 33%;"></span> }
                        else
                        {
                            <span class="iconify" data-icon="ant-design:home-filled" style="color: white; font-size: 30px; position: absolute; left: 33%;"></span>
                            }
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("PesquisarMembros", "Pesquisar", new { area = "Comportamentos" })">
                        @if (pageName != "PesquisarMembros")
                        {
                            <span class="iconify" data-icon="bx:search-alt-2" style="color: white; font-size: 30px; float: right; margin-right: 10px; position: absolute; left: 63%;"></span>
                        }
                        else 
                        { 
                            <span class="iconify" data-icon="bxs:search-alt-2" style="color: white; font-size: 30px; position: absolute; left: 63%;"></span>
                        }
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Details", "Membros", new { area = "Membros", id = membrologado })">
                        @if (pageName2 != "Membros")
                        {
                            <span class="iconify" data-icon="carbon:user-avatar-filled-alt" style="display: block; margin-left: auto; margin-right: auto; width: 30px; height: 30px; color: white; position: absolute; right: 5%;"></span>
                        }
                        else 
                        { 
                            <span class="iconify" data-icon="carbon:user-avatar-filled" style="display: block; margin-left: auto; margin-right: auto; width: 30px; height: 30px; color: white; position: absolute; right: 5%;"></span>
                        }
                    </a>
                </li> 
            </ul>
        </nav>
    </footer>
    @RenderBody()
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
</body>
</html>